/*LIGHT GREY: #9BA0A5*/
/*DARK GREY: #828284*/
/*BLUE GREY: #354052*/

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: fit-content;
}

h3 {
  color: #909BAD;
  font-family: 'Roboto', sans-serif;
  font-size: 80%;
}

.side-bar {
  background-color: #354052;
  display: inline-block;
  height: 1353px;
  left: 0;
  margin-bottom: 0; 
  position: relative;
  vertical-align: top;
  width: 15%;
}

.picture {
  margin: auto;
}
.picture img {
  height: 120px;
  margin: 10% 25%;
}

.side-bar article {
  border-bottom: 1px solid #2C3749;
}

.picture h2{
  color: #909BAD;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 0 15px 0;
  text-align: center; 
}

.title {
  color: #5C697C;
  font-family: 'Roboto', sans-serif;
  font-size: 70%
}

.category {
  color: #909BAD;
  font-family: 'Lato', sans-serif;
  font-size: 80%;
  margin: 0;
}

p.category {
  display: inline-block;
  margin: 10px 0 10px 0;
}

.link img {
  height: 10px;
}

.link h3 {
  display: inline-block;
}

.link h3:hover {
  color: #ffffff;
}

.aside-categories, 
.aside-admin, 
.aside-main{
  padding: 0 10% 0 10%;
}

.link input{
  background: #037FBB;
}

.central-content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 84.7%;
}

nav {
  display: inline-flex;
  height: 50px;
  justify-content: space-around;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.hamburger {
  background-image: url('images/menu-grey.svg');
  background-position: cover;
  background-repeat: no-repeat;
  flex-basis: 5%;
  height: 50px;
  width: 50px;
}

.hamburger:hover {
  background-color: #16A4FA;
  background-image: url('images/menu-hover.svg');
}

.search {
  border-left: none;
  border-right: none;
  flex-basis: 80%;
  height: 50px;
}

nav input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 50px;
  width: 90%;
}

nav input:focus{
  outline: none;
}

nav section{
  border: 1px #F5F5F5 solid;
}

.fa-search {
  color: #9D9EA1;
  padding-left: 10px;
  width: 5%;
}

.add-friend {
  background-image: url('images/add-friend-grey.svg');
  background-position: cover;
  background-repeat: no-repeat;
  border-right: none;
  flex-basis: 5%;
  height: 50px;
  width: 50px;
}

.add-friend:hover {
  background-color: #16A4FA;
  background-image: url('images/add-friend-hover.svg');
}

.movie {
  background-image: url('images/movie-grey.svg');
  background-position: cover;
  background-repeat: no-repeat;
  border-right: none;
  flex-basis: 5%;
  height: 50px;
  width: 50px;
}

.movie:hover {
  background-color: #16A4FA;
  background-image: url('images/movie-hover.svg');
}

.grid {
  background-image: url('images/grid-grey.svg');
  background-position: cover;
  background-repeat: no-repeat;
  flex-basis: 5%; 
  height: 50px;
  width: 50px;
}

.grid:hover{
  background-color: #16A4FA;
  background-image: url('images/grid-hover.svg');
}

header {
  display: flex;
  justify-content: space-between;
}

.top-title {
  padding-left: 30px;
}

.top-title h1 {
  color: #828284;
  font-family: 'Lato', sans-serif;
}

.top-title p {
  color: #9BA0A5;
  font-family: 'Open-Sans', sans-serif;
  font-size: 80%;
  padding: 5px;
}

.preview {
  color: #16A4FA;
  margin-left: 10px;
}

.top-buttons {
  margin: 2% 0 2% 0;
  padding-right: 30px;
}

.fa-circle{
  color: #88c53f;
}

.open {
  background-color: transparent;
  border: 1px #9BA0A5 solid;
  border-radius: 20px;
  box-shadow: none;
  color: #828284;
  font-size: 80%;
  height: 40px;
  width: 85px;
  padding: 5px 5px;
}

.open:hover, 
.marker:hover, 
.pen:hover,
.trash:hover {
  background-color: #354052;
  border: none;
  color: #ffffff;
}

.marker, 
.pen,
.trash {
  background-color: transparent;
  border: 1px #9BA0A5 solid;
  border-radius: 20px;
  box-shadow: none;
  color: #828284;
  height: 40px;
  margin-left: 10px;
  width: 40px;
}

.top-links button{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#summary{
  border-bottom: #16A4FA 5px solid;
}

.top-links button:hover{
  border-bottom: #909BAD 5px solid;
}

main {
  background-color: #EDF2F6;
  height: fit-content; 
}

.visual-graphs {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circles {
  align-self: center;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  position: relative;
  stroke-linecap: round;
}

.circle__stat {
  display: inline-block;
  flex-basis: 75%;
  height: 150px;
  position: relative;
  width: 150px;
}

.circle__per {
  color: #828284;
  border-radius: 20px;
  font-family: "Open-Sans", sans-serif;
  font-size: 200%;
  font-weight: 100;
  height: 0;
  line-height: 0;
  position: absolute;
  top: 42%;
  text-align: center;
  width: 150px;
}

#stat-class {
  font-size: 30%;
  line-height: 250%;
  top: 55%;
}

.graph {
  margin-right: 5%;
}

.graph img {
  height: 171px;
  margin-top: 5%;
  position: relative;
}

.graph-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.graph-buttons h3{
  margin-bottom: auto;
  margin-top: auto;
}

.totals,
.applicants-day {
  background-color: #ffffff;
  border: #9BA0A5 1px solid;
  border-radius: 50px;
  height: 40px;
}

.totals:focus,
.applicants-day:focus {
  outline: none;
}

.totals:hover,
.applicants-day:hover {
  background-color: #354052;
  border: none;
  color: #ffffff;
}

.totals {
  width: 100px
}

.applicants-day {
  width: 200px;
}

.divider {
  display: flex;
}

.divider hr {
  flex-basis: 40%;
  width: 40%;
}

.divider button {
  background-color: #ffffff;
  border-radius: 40px;
  border: #9BA0A5 1px solid;
  height: 40px;
  width: 40px;
}

.divider button:focus {
  outline: none
}

.divider button:hover {
  background-color: #354052;
  border: none;
  color: #ffffff;
}

.bottom-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5%;
}

table {
  border-collapse: collapse;
  display: inline-block; 
  flex-basis: 60%;
  margin: 20px 10px;
  width: 60%;
}

tr {
  border-bottom: 1px;
  background-color: #ffffff;
  border-spacing: none;
  height: 75px;
  width: 60%;
}

th {
  background-color: #6F7E95;
  height: 60px;
  text-align: left;
}

th h3 {
  color: #ffffff;
  display: inline-block;
  padding-left: 20px;
}

th button {
  background-color: #7E8CA7;
  border: none;
  color: #ffffff;
  font-family: 'Open-Sans', sans-serif;
  font-size: 80%;
  height: 35px; 
  margin-left: 30px;
  margin-top: 8px;
  width: 80px;
}

td {
  padding-left: 20px; 
  text-align: left;
}

td p {
  color: #6F7E95;
  font-family: 'Lato', sans-serif;
}

.buttons-links {
  display: flex;
  flex-basis: 30%;
  flex-wrap: wrap; 
  font-family: 'Open-Sans', sans-serif;
  margin: 10px 0;
}

.facebook, 
.twitter, 
.LinkedIn {
  border: none;
  color: #ffffff;
  height: 40px;
  margin: 5px 0;
  width: 100%;
}

.facebook {
  background-color: #4A6FC0;
}

.facebook:hover {
  background-color: #6493fb;
}

.twitter {
  background-color: #02ABF0;
}

.twitter:hover {
  background-color: #3cc3fb;
}
.LinkedIn {
  background-color: #0482BD;
}

.LinkedIn:hover {
  background-color: #2b93c3;
}

.link p,
.link h2,
.link .fa  {
  color: #828284;
  display: inline-block;
}

.link h2 {
  font-size: 100%;
}

.link p {
  color: #828284;
  font-size: 80%;
}

.button-title  {
  color: #ffffff;
  display: inline-block;
  font-size: 80%;
  margin: 0;
  text-align: center;
}

.turing-link {
  background-color: #ffffff;
  color: #828284;
  height: 40px; 
  text-align: left;
  width: 100%;
}

.turing {
  padding-left: 10px;
}

.copy {
  background-color: #47B8BF;
  border: none;
  color: #ffffff;
  float: right;
  height: 40px;
  width: 100px;
}



@media (max-width: 1320px) {
.side-bar {
  display: none;
}

.central-content {
  width: 100%;
}
}

@media (max-width: 793px) {
  .top-buttons{
    display: none;
  }

  nav.top-links {
    display: none;
  }

  .graph {
    margin: auto;
  }
}

@media (max-width: 660px) {

  .graph img {
    height: 100px;
  }


 .buttons-links {
    flex-basis: 100%;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  table {
    flex-basis: 100%;
  }

  .add-friend,
  .movie,
  .grid {
    display: none;
  }

  .hamburger {
    flex-basis: 20%;
  }

  .search {
    flex-basis: 80%;
  }
}

@media (max-width: 660px) {

.circles {
    flex-basis: 100%;
    flex-wrap: wrap;
    overflow: hidden;
  }

.circle__stat {
  flex-basis: auto;
}

nav input::placeholder {
  font-size: 0px;
}
}

@media (max-width: 440px) {
.nav input {
  font-size: 0px;
}
}
  

